@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
}

@media (max-width: 2560px) {
  .sm-none {
    display: block !important;
  }

  .md-none {
    display: none !important;
  }
}

@media (max-width: 992px) {
  .sm-none {
    display: none !important;
  }

  .md-none {
    display: block !important;
  }
}

.logo-text {
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  position: fixed;
  top: 40px;
  left: 48px;
}

.global-input {
  border: 1px solid #045538;
  padding: 19px 42px;
  border-radius: 15px;
  margin: 10px 0;
  font-size: 24px;
  padding-left: 60px;
}

.global-input-2 {
  border: 1px solid #045538;
  padding: 12px 32px;
  border-radius: 15px;
  margin: 10px 0;
  font-size: 24px;
}

.global-input::-webkit-input-placeholder {
  color: #219653;
}

.global-input-2::-webkit-input-placeholder {
  color: #000;
}

.input-cost {
  border: none;
}

.input-cost:active,
.input-cost:focus {
  outline: none !important;
}

.accordion-item {
  background-color: transparent !important;
  border: none !important;
  border-radius: 100px !important;
}

.accordion-button {
  background-color: transparent !important;
}

.accordion-button:not(.collapsed) {
  color: #fff !important;
  background-color: #F4A938 !important;
}

.accordion-item:first-of-type {}